//- project config 

-
	var config = {
		lang: 'ru',
		title: 'ОченьКрасивые | Группа ОК',
		description: 'Группа ОК - кавер-группа Ростова-на-Дону - ОченьКрасивые. Заказ живой музыки на корпоратив, свадьбу',
		keywords: 'группа ок, оченькрасивые, очень красивые, кавер-группа Ростов, музыканты на свадьбу, корпоратив',
		color: '#1f5bff',
		page: {
			title: '',
			description: '',
		},
		og: {
			title: 'Группа "Оченькрасивые"',
			image: '/img/og_2x1.jpg',
		},
	};


- var now = Date.now();

include mixins.pug