//- project config 

-
	var config = {
		lang: 'ru',
		title: 'ОченьКрасивые | Группа ОК',
		description: 'Группа ОК - кавер-группа Ростова-на-Дону - ОченьКрасивые',
		keywords: 'группа ок, оченькрасивые, очень красивые, кавер-группа Ростов, музыканты на свадьбу, корпоратив',
		color: '#000000',
		page: {
			title: '',
			description: '',
		},
		og: {
			title: 'Группа "Оченькрасивые"',
			image: '/img/og_2x1.jpg',
		},
	};
-
	var content = {
		contacts: {
			phone: '+7 (988) 545-03-73',
		},
		socials: [
			{
				title: 'VK',
				url: '//vk.com/o_ok_k',
			},
			{
				title: 'Youtube',
				url: '//youtube.com/user/gruppaok/',
			},
			{
				title: 'Instagram',
				url: '//instagram.com/gruppaok/',
			},
		],
		menu: [
			{
				title: 'О нас',
				url: '#about',
			},
			{
				title: 'Фото',
				url: '#photo',
			},
			{
				title: 'Видео',
				url: '#video',
			},
			{
				title: 'Советы',
				url: '#tips',
			},
			{
				title: 'Трек-лист',
				url: '//vk.com/topic-16907566_38998496',
			},
			{
				title: 'Райдер',
				url: '//vk.com/topic-16907566_38998502',
			},
			{
				title: 'Контакты',
				url: '#contacts',
			},
		]
	}

- var now = Date.now();

include mixins.pug