section.grid-photo.section
	picture.grid-photo__item
		source(srcset="/img/media/gallery/grid/ok-group-grid_1.webp, /img/media/gallery/grid/ok-group-grid_1.jpg 2x" loading="lazy")
		img(src="/img/media/gallery/grid/ok-group-grid_1.jpg" alt="Группа ОченьКрасивые фото" loading="lazy")
	picture.grid-photo__item
		source(srcset="/img/media/gallery/grid/ok-group-grid_2.webp, /img/media/gallery/grid/ok-group-grid_2.jpg 2x" loading="lazy")
		img(src="/img/media/gallery/grid/ok-group-grid_2.jpg" alt="Группа ОченьКрасивые фото" loading="lazy")
	picture.grid-photo__item
		source(srcset="/img/media/gallery/grid/ok-group-grid_3.webp, /img/media/gallery/grid/ok-group-grid_3.jpg 2x" loading="lazy")
		img(src="/img/media/gallery/grid/ok-group-grid_3.jpg" alt="Группа ОченьКрасивые фото" loading="lazy")
