section.introduction.section
	h2.introduction__title
		span.introduction__title--lil Группа
		span.introduction__title--big ОченьКрасивые
	picture
		source(srcset="/img/ok_logo.webp, /img/ok_logo_x2.png 2x")
		img.introduction__logo(src="/img/ok_logo.png" alt="группа ок лого" loading="lazy")
	.introduction__text
		.introduction__text--first У вас важное событие? - ОК!
		.introduction__text--second Есть те, кто просто ищет лучшие кавер-группы
		.introduction__text--third А есть по-настоящему требовательные люди, которые хотят заполучить нечто большее. Группа "ОченьКрасивые" именно для Вас