- var totalSlides = 19;
section.photo.section.section--anchor#photo
	.photo__pre-title Поехали дальше
	h2.photo__title Наши Фото 
		//- span (2019)
	.photo__subtitle Скромная подборка фотографий поможет Вам больше узнать о нас
	.photo__slider
		.glide__track(data-glide-el="track")
			.glide__slides.photo__slider-inner
				- var slide = 01;
				while slide < totalSlides + 1
					.photo__slider-item.glide__slide
						img(src="/img/media/gallery/ok-photo-gallery-" + slide + ".jpg" alt="группа ок фото" loading="lazy")
					- slide++
		div(data-glide-el="controls")
			button.photo__slider-arrow.arrow-left(type="button" data-glide-dir="<" name="arrow-left")
				svg(width="12" height="20")
					desc arrow left
					use(xlink:href="/img/sprite.svg#arrow-left")
			button.photo__slider-arrow.arrow-right(type="button" data-glide-dir=">" name="arrow-right")
				svg(width="12" height="20")
					desc arrow right
					use(xlink:href="/img/sprite.svg#arrow-left")
	-
		var masonry = [
			{
				file: 'karaichev-evgenyi',
				alt: 'Караичев Евгений Фото',
			},
			{
				file: 'gredasov_stas',
				alt: 'Гредасов Стас Фото',
			},
			{
				file: 'kurkin-anton',
				alt: 'Куркин Антон Фото',
			},
			{
				file: 'glazko-maxim',
				alt: 'Глазко Максим Фото',
			},
			{
				file: 'ok_logo',
				alt: 'Группа ОК лого',
			},
			{
				file: 'lazarev-anatoly',
				alt: 'Лазарев Анатолий Фото',
			},
		];
	.photo__masonry
		each item in masonry
			if item.file == 'ok_logo'
				picture.photo__masonry__item.photo__masonry__item--logo
					source(srcset="/img/" + item.file + ".webp, /img/" + item.file + "_x2.png 2x")
					img(src="/img/" + item.file + ".png" alt=item.alt loading="lazy")
			else
				picture.photo__masonry__item
					source(srcset="/img/media/gallery/masonry/" + item.file + ".webp, /img/media/gallery/masonry/" + item.file + "_x2.jpg 2x")
					img(src="/img/media/gallery/masonry/" + item.file + ".jpg" alt=item.alt loading="lazy")
			