-
	var tips = [
		{
			title: 'Самопрезентация',
			descr: 'Посмотрите, как группа представляет себя. Есть ли у неё демонстрационные видео, сайт или страницы в соцсетях? Насколько они качественны и информативны? По отношению музыкантов к собственным проектам можно судить и об их отношении к делу в целом.',
		},
		{
			title: 'Репертуар и звук',
			descr: 'Обратите внимание на звучание и на тот материал, который выбран в качестве показательного. Может быть, это точное попадание в ваши вкусы. А, возможно, вы сразу скажете: «Ну, нет! Если они играют ТАК и ТАКОЕ, нам не по пути!» Пусть видео и не передаёт всех нюансов, но хотя бы базовое представление о том, чего ожидать, вы всё же получите.',
		},
		{
			title: 'Внешний вид',
			descr: 'Оцените, как выглядят артисты, во что они одеты, какие у них образы. Вдруг вам нужны яркие сценические костюмы, а музыканты – приверженцы простого и стильного casual. Или: вы ожидаете рокерского стиля, а группа выйдет на выступление в перьях, золоте и мишуре.',
		},
		{
			title: 'Коммуникации',
			descr: 'Отметьте, насколько открыто и дружелюбно общаются с вами при обсуждении заказа. Ведь потом именно эти люди во многом сделают ваш праздник. Или не сделают. Опять же, на мероприятии возможны разные форс-мажоры, и способность позитивно реагировать на непредвиденные ситуации, умение договариваться, идти друг другу навстречу – это крайне важно.',
		},
		{
			title: 'Репутация',
			descr: 'Потратьте чуть больше времени, чтобы навести справки о группе. В сети всегда достаточно информации. Изучите отзывы, посмотрите, какие сведения о музыкантах есть в открытом доступе. Ведь вы рискуете не столько деньгами, сколько впечатлением о мероприятии – его откатить назад и переиграть будет невозможно.',
		},
	]
section.tips.section.section--anchor#tips
	.tips-title__cont
		h2.tips-title Как выбрать подходящую кавер-группу?
		.tips-subtitle Перед вами стоит задача: заказать музыкантов на праздник. Как же найти тех самых – своих? Ведь все хвалят себя. У большинства кавер-групп схожий репертуар. И вообще, не попробуешь – не поймёшь. Для вас есть несколько верных подсказок.
	h2.tips-title-cen 5 профессиональных советов
	.tips-subtitle-cen На что стоит обратить внимание
	ol.tips-list
		each tip, idx in tips
			- num = idx + 1
			li.tip-item
				picture.tip-item__img
					source(srcset="/img/media/tips/tip"+num+".webp, /img/media/tips/tip"+num+"_x2.jpg 2x")
					img(src="/img/media/tips/tip"+num+".jpg" alt=tip.title loading="lazy")
				.tip-item__text
					h3.tip-item__title #{num}. #{tip.title}
					.tip-item__descr #{tip.descr}
