extends _layout/base.pug

block meta

block content
	include _includes/hero.pug
	hr.separ
	include _includes/intro.pug
	hr.separ
	include _includes/faces.pug
	hr.separ
	include _includes/about.pug
	include _includes/brands.pug
	hr.separ
	include _includes/photo.pug
	include _includes/gridPhoto.pug
	hr.separ
	include _includes/video.pug
	hr.separ
	include _includes/tips.pug
	hr.separ
	include _includes/ps.pug
	hr.separ
	include _includes/contacts.pug
