$font-path: "/fonts/";
$font-list: (
	("YandexSansDisplay-Thin", 100, normal),
	("YandexSansDisplay-Regular", normal, normal),
	("YandexSansDisplay-Bold", 700, normal),
);

@each $name, $weight, $style in $font-list {
	@font-face {
		font-family: "Yandex Sans";
		src: url($font-path + 'yandex-sans/' + $name + ".woff2") format("woff2"), url($font-path + $name + ".woff") format("woff");
		font-weight: $weight;
		font-style: $style;
		font-display: swap;
	}
}