.ps {
	&-pre-title {
		margin: 0 0 50px;
		color: #757575;
		font-size: 14px;
		font-weight: 400;
		text-transform: uppercase;
		letter-spacing: 2.5px;
	}
	&-title {
		margin: 0 0 80px;
		font-size: 52px;
	}
	&-subtitle {
		font-size: 26px;
		font-weight: 100;
	}
}
